<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-google-tag-manager" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>GoogleTagManager</name>
    <description> Google Tag Manager v5 integration for Firebase Analytics. </description>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=12.0.0" />
    </engines>

    <preference
        name="IOS_FIREBASE_ANALYTICS_VERSION"
        default="11.10.0" />
    <preference
        name="GTM_CONTAINER_FILE"
        default="GTM-KLBN64W6.json" />

    <platform name="android">
        <framework src="com.google.android.gms:play-services-tagmanager:18.3.0" />
    </platform>

    <platform name="ios" package="swift">
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods use-frameworks="true">
                <pod
                    name="GoogleTagManager"
                    nospm="true" />
            </pods>
        </podspec>
    </platform>

    <hook
        type="after_prepare"
        src="hooks/after_prepare.js" />
</plugin>
